
:root {
    --primary-rgb: 20 20 20;
    --secondary-rbg: 250 249 246; 
    --third-rbg: 0 51 102;
    --font: "Space mono", monospace;
}



.barWrapper {
    background: rgb(var(--primary-rgb));
    display: flex;
    height: 80px;
    justify-content: flex-end;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    -moz-user-select: none;
    -webkit-user-select: none;
    border-radius: 1rem;
    font-family: var(--font);
    border: 1px solid rgb(var(--secondary-rbg) / 15%);
}

.activeButton {
    color: rgb(var(--third-rbg));
    font-weight: bold;
    pointer-events: none;

}

.button:hover,
.button:focus {
    border: 3px solid white;
    color: rgb(var(--secondary-rbg) / 80%);
}
.button:active {
    border: 2px solid white;
    color: rgb(var(--third-rbg));
    background-color: white;
}